.navbar {
    margin-bottom: 0;
}
#text {
    min-height: 150px;
    resize: none;
}
#audio-player {
    display: block;
    width: 100%;
}
.progress-bar {
    width: 100%;
}
.btn-primary {
    width: 50%;
}
.submit-btn {
    margin-top: 25px;
}